@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a,a:hover{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

.header{
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(255,255,255,1) 100%);
}

footer{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(255,255,255,1) 100%);
    width: 100%;
    flex: 0 0 20%;
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    background-color: #3c3c3b;
}

li{
    list-style: none;
    color:rgb(0, 0, 0);
}

main>a:hover{
    font-size: larger;
    color: #92cee4;
    cursor: pointer;

}

li:hover{
    color: rgb(95, 94, 94);
}

a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(0, 0, 0); 
}

.header .nav-bar{
    width: 90%;
    height: 80px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}

.header .nav-bar .logo{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.header .nav-bar .logo span{
    font-size: 35px;
    color: #fff;
    margin-left: 5px;
}

.header .nav-bar .menu ul li{
    margin-right: 30px;
}

.header .nav-bar .menu ul li a{
    font-size: 19px;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.5s;
    opacity: 0.6;
}

.header .nav-bar .menu ul li a.aktif{
    opacity: 1;
}

.header .nav-bar .menu ul li span{
    position: absolute;
    top: 0;
    color: #000;
    font-size: 75px;
}

.header .nav-bar .menu ul li a:hover{
    opacity: 1;
}

.header .nav-bar .sosyal-medya ul li i{
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-size: 19px;
    background-color: #cac5c542;
    transition: all 0.3s ease-in-out;
}

.header .nav-bar .sosyal-medya ul li i:hover{
    background-color: rgba(0, 0, 0, 0.9);
}

.hero .row{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin: auto;
}

.hero .row .left-sec{
    width: 30%;
    margin-top: 100px;
    margin-left: 50px;
}

.hero .row .left-sec{
    font-size: 30px;
    color: #000;
    text-transform: capitalize;
}

.hero .row .left-sec h2 span{
    color: #000000;
}

.hero .row .left-sec p{
    margin: 20px 0;
    color: #000;
    line-height: 28px;
    padding-right: 150px;
}

.hero .row .left-sec .keşfet-btn{
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 50px;
    padding: 0 25px;
    border: 3px solid #ffa938;
    background-color: #000000;
    box-shadow: 5px 7px 20px #000;
}

.hero .row .left-sec .keşfet-btn a{
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    margin-right: 15px;
    text-transform: capitalize;
}

.hero .row .left-sec .keşfet-btn span{
    color: #fff;
    font-size: 45px;
}

.hero .information{
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.hero .information .production{
    margin-right: 50px;
    line-height: 3px;
}

.hero .information .production h2{
    font-size: 20px;
    letter-spacing: 1px;
}

.hero .information .production p{
    padding-right: 0;
    letter-spacing: 1px;
}

.hero .right-sec{
    width: 70%;
    padding-top: 100px;
}

.hero .right-sec images{
    width: 950px;
    height: 950px;
    margin: auto;
    float:right;
}

.slick-next, .slick-prev{
    top: 110% !important;
    z-index: 999;
}

.slick-prev{
    position: absolute;
    left: 950px !important;
}

.slick-next{
    position: absolute;
    right: 178px !important;
}

.slick-next::before, .slick-prev::before{
    font-size: 45px !important;
}

.slick-dots{
    padding-left: 450px !important;
    margin-bottom: -50px !important;
}

.slick-dots li{
    margin-right: 15px !important;
}

.slick-dots li.slick-active::after{
    position: absolute;
    content: "";
    bottom: -15px;
    left: 6px;
    opacity: 1;
    color: rgb(0, 0, 0);
    font-size: 36px;
}